.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Keyframes for the animation */
@keyframes slideInBoing {
  0% {
    transform: translateX(-100%) scale(0.8); /* Start off-screen to the left */
  }
  50% {
    transform: translateX(20px) scale(1.2); /* Move slightly right and scale up for the boing */
  }
  70% {
    transform: translateX(-10px) scale(0.9); /* Slight left to give the "boing" feel */
  }
  100% {
    transform: translateX(0) scale(1); /* End up at original position with normal scale */
  }
}
