@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.swiper-button-prev,
.swiper-button-next {
  width: 60px !important;
  position: absolute;
  left: -100px;
  height: 30px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
}


.testClass {

  background-color: rgb(91, 89, 89);
}

/* Keyframes for the animation */
/* Keyframes for the animation */
@keyframes slideInBoing {
  0% {
    transform: translateX(-100%) scale(0.8); /* Start off-screen to the left */
  }
  50% {
    transform: translateX(20px) scale(1.2); /* Move slightly right and scale up for the boing */
  }
  70% {
 /* Slight left to give the "boing" feel */
  }
  100% {
    transform: translateX(0) scale(1); /* End up at original position with normal scale */
  }
}

/* Apply animation */
.animate-slideInBoing {
  animation: slideInBoing 2s ease-in-out forwards;
}
